<section class="container-form container" id="Contacts">
    <div class="form-box" >
        <h2 class="form-title">Fresh Harvest Box has got you covered</h2>
            <p class="form-subtitle">
                 Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!
            </p>
        <form class="form">
            <label class="form-label">
                <input type="tel" class="form-input" name="user-tel" required id="user-tel" placeholder="+380 ()" 
                pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"/>
            </label>
            <button type="submit" class="form-btn">Recall</button>
        </form>
    </div>
    <div class="form-img container">
        <img  srccet="./img/form/img-girl-form.png 1x, ./img/form/img-girl-form-2x.png 2x" 
        src="./img/form/img-girl-form.png" class="img-form-girl" alt="girl form" width="335" height="357" />
    </div>
</section>