<section class="container" id="howitworks">
  <div class="container-toorder">
    <div class="toorder-part">
      <h2 class="toorder-title">
        To order your vegetable basket, simply follow these easy steps
      </h2>
      <img
        class="broccoli-img"
        srcset="
          ./img/howitworks/img-vegetables-pc-2x.jpeg 2x,
          ./img/howitworks/img-vegetables-pc.jpeg    1x
        "
        src="./img/howitworks/img-vegetables-pc.jpeg"
        alt="broccoli"
        width="335"
        height="158"
      />
    </div>
    <ul class="list-howitworks toorder-list">
      <li class="toorder-list-items">
        <p class="toorder-text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </li>
      <li class="toorder-list-items">
        <p class="toorder-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </li>
    </ul>
  </div>

  <div class="container-steps">
    <div class="list-container">
      <h3 class="steps-title">3 Easy Steps for Buying Fresh Vegetables</h3>
      <ol class="steps-list list-howitworks">
        <li class="step-item">
          <span class="number-item one">1</span>
          <p class="text-steps">
            Just choose the vegetable you want to order by clicking on the
            checkboxes next to it.
          </p>
        </li>
        <li class="step-item">
          <span class="number-item two">2</span>
          <p class="text-steps">
            Click on the basket and fill <br />
            out the form.
          </p>
        </li>
        <li class="step-item">
          <span class="number-item three">3</span>
          <p class="text-steps">
            Sit back and relax! Your fresh vegetables basket will be delivered.
          </p>
        </li>
      </ol>
    </div>
    <div class="photo-girl"></div>
  </div>
</section>
