<section class="products container-mobile">
  <div class="title-section-products">
    <h2 class="title-products">organic vegetables</h2>
    <p class="title-products-description">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
  </div>
  <ul class="products-list">
    <li class="cards">
      <h3 class="cards-title">Carrot</h3>
      <p class="products-desc">Plant</p>
      <img
        class="foto-items"
        src="../img/image-products/carrot.png"
        srcset="../img/image-products/carrot@2x.png 2x"
        alt="carrot"
        width="321"
        height="261"
      />
      <p class="products-price">100 UAH / kg</p>
    </li>
    <li class="cards">
      <h3 class="cards-title">Brussel sprouts</h3>
      <p class="products-desc">Plant</p>
      <img
        class="foto-items"
        src="../img/image-products/brussel.png"
        srcset="../img/image-products/brussel@2x.png 2x"
        alt="Brussel sprouts"
        width="321"
        height="261"
      />
      <p class="products-price">80 UAH / kg</p>
    </li>
    <li class="cards">
      <h3 class="cards-title">Tomato</h3>
      <p class="products-desc">Plant</p>
      <img
        class="foto-items"
        src="../img/image-products/tomato.png"
        srcset="../img/image-products/tomato@2x.png 2x"
        alt="tomato"
        width="321"
        height="261"
      />
      <p class="products-price">40 UAH / kg</p>
    </li>
    <li class="cards">
      <h3 class="cards-title">Eggplant</h3>
      <p class="products-desc">Plant</p>
      <img
        class="foto-items"
        src="../img/image-products/eggplant.png"
        srcset="../img/image-products/eggplant@2x.png 2x"
        alt="eggplant"
        width="321"
        height="261"
      />
      <p class="products-price">60 UAH / kg</p>
    </li>
    <li class="cards">
      <h3 class="cards-title">Sweet potatoes</h3>
      <p class="products-desc">Plant</p>
      <img
        class="foto-items"
        src="../img/image-products/potatoes.png"
        srcset="../img/image-products/potatoes@2x.png 2x"
        alt="sweet potatoes"
        width="321"
        height="261"
      />
      <p class="products-price">80 UAH / kg</p>
    </li>
    <li class="cards">
      <h3 class="cards-title">Leek</h3>
      <p class="products-desc">Plant</p>
      <img
        class="foto-items"
        src="../img/image-products/leek.png"
        srcset="../img/image-products/leek@2x.png 2x"
        alt="leek"
        width="321"
        height="261"
      />
      <p class="products-price">50 UAH / kg</p>
    </li>
    <li class="cards">
      <h3 class="cards-title">Mushrooms</h3>
      <p class="products-desc">Plant</p>
      <img
        class="foto-items"
        src="../img/image-products/mushrooms.png"
        srcset="../img/image-products/mushrooms@2x.png 2x"
        alt="mushrooms"
        width="321"
        height="261"
      />
      <p class="products-price">40 UAH / kg</p>
    </li>
    <li class="cards">
      <h3 class="cards-title">Corn</h3>
      <p class="products-desc">Plant</p>
      <img
        class="foto-items"
        src="../img/image-products/corn.png"
        srcset="../img/image-products/corn@2x.png 2x"
        alt="corn"
        width="321"
        height="261"
      />
      <p class="products-price">60 UAH / kg</p>
    </li>
    <li class="cards last-cards">
      <h3 class="cards-title">Radish</h3>
      <p class="products-desc">Plant</p>
      <img
        class="foto-items"
        src="../img/image-products/radish.png"
        srcset="../img/image-products/radish@2x.png 2x"
        alt="radish"
        width="321"
        height="261"
      />
      <p class="products-price">90 UAH / kg</p>
    </li>
  </ul>
  <button type="button" class="order-products-btn">
    
    <svg
      class="order-products-btn-icon"
      aria-label="icon-arrow"
      width="14"
      height="14"
    >
      <use href="../img/icon.svg#icon-arrow"></use>
    </svg>order
  </button>
</section>
