<section class="products">
  <h2 class="title-products">organic vegetables</h2>
  <p class="title-products-description">
    Our organic vegetables are hand-picked from local farms and delivered
    straight to your doorstep, ensuring that you get the freshest and most
    nutritious produce possible.
  </p>
  <ul class="product-list">
    <li class="cards">
      <h3 class="cards-title">Carrot</h3>
      <p>Plant</p>
      <img
        src="../img/image-products/carrot.webp"
        srcset="../img/image-products/carrot@2x.webp"
        alt="carrot"
        width="321"
        height="261"
      />
      <svg  aria-label="oval" width="195" height="38">
        <use href="../img/image-products/Oval.svg"></use>
      </svg>
      <p>100 UAH / kg</p>
    </li>
    <li class="cards">
      <h3 class="cards-title"></h3>
      <p>Plant</p>
      <img src="" alt="" />
    </li>
    <li class="cards">
      <h3 class="cards-title"></h3>
      <p>Plant</p>
      <img src="" alt="" />
    </li>
    <li class="cards">
      <h3 class="cards-title"></h3>
      <p>Plant</p>
      <img src="" alt="" />
    </li>
    <li class="cards">
      <h3 class="cards-title"></h3>
      <p>Plant</p>
      <img src="" alt="" />
    </li>
    <li class="cards">
      <h3 class="cards-title"></h3>
      <p>Plant</p>
      <img src="" alt="" />
    </li>
    <li class="cards">
      <h3 class="cards-title"></h3>
      <p>Plant</p>
      <img src="" alt="" />
    </li>
    <li class="cards">
      <h3 class="cards-title"></h3>
      <p>Plant</p>
      <img src="" alt="" />
    </li>
    <li>
      <h3></h3>
      <p>Plant</p>
      <img src="" alt="" />
    </li>
  </ul>
</section>
