/**-------FOOTER-PROJECT-CSS---------*/
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.footer {
  background-color: var(--main-green-light);
  padding-top: 80px;
  padding-bottom: 80px;
}

.container-f {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 375px;
  flex-direction: unset;
  align-items: unset;
}

.footer-logo-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  /* margin-bottom: 40px; */
}

.footer-logo-foto {
  border-radius: 100px;
  background: url(<path-to-image>),
    lightgray 0px -43.24px / 100% 194.972% no-repeat;
  background-color: var(--main-green-light);
}

.footer-logo-img {
  width: 100%;
}

.footer-logo-text {
  color: var(--main-black);
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.footer-logo-svg {
  margin-right: 8px;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-menu-link {
  color: var(--main-black);
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
}

.footer-social-meregi {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-icon {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.footer-icon-a {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--main-black);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.800000011920929;
}

.footer-icon-a:hover {
  fill: var(--main-green);
  border-color: var(--main-green);
}

.footer-icon-li {
  fill: var(--main-black);
}

.footer-address-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer-address-link {
  color: var(--main-black);
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  text-transform: uppercase;
}

.footer-address-text {
  color: var(--main-black);
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.28px;
  max-width: 135px;
}

/**----------MOBILE----------**/

@media screen and (min-width: 375px) {
  .container-f {
    max-width: 375px;
  }
}

/**----------TABLET----------**/

@media screen and (min-width: 768px) {
  .container-f {
    max-width: 768px;
    max-height: 435px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 171px;
  }

  .footer-logo-img {
    width: 349px;
    height: 179px;
  }

  .footer-address-link {
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
  }

  .footer-address-text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    max-width: 173px;
    text-align: left;
  }
}

/**----------DESKTOP----------**/

@media screen and (min-width: 1280px) {
  .container-f {
    max-width: 1280px;
    max-height: 377px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    gap: 166px;
    justify-content: center;
    align-items: center;
    align-content: baseline;
  }

  .footer-menu-item {
  }

  .footer-logo-img {
    width: 349px;
    height: 179px;
  }

  .footer-menu {
    /* margin-top: 80px; */
  }

  .footer-address-link {
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
  }

  .footer-address-text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    max-width: 173px;
    text-align: left;
  }
}
