/* mobile */
.container-mobile {
max-width: 375px;
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
  }
.cards {
  width: 299px;
  height: 383px;
  border-radius: 20px;
  background-color: #a1c487;
  display: flex;
  padding: 20px 18px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
}
